<div class="node package" style="opacity: {{node.data.importance}}">
    <row>
        <div al-repeat="input in Array.from(node.inputs.values())" class="inputs">
            <div class="socket input {{toClassName(input.socket.name)}} {{input.multipleConnections?'multiple':''}}" al-socket="input" title="{{input.socket.name}}"></div>
            <div class="input-control" al-if="input.showControl()" al-control="al-control"></div>
        </div>
        <img class="image" src=${require('../../../../assets/images/npm.svg')}>

        <div al-repeat="output in Array.from(node.outputs.values())" class="outputs">
            <div class="socket output {{toClassName(output.socket.name)}}" al-socket="output" title="{{output.socket.name}}\n{{output.socket.hint}}"></div>
        </div>
    </row>
    <row vertical>
        <a :href="'https://www.npmjs.com/package/'+node.data.name" target="_blank">
            <img class="shield" :src="'https://img.shields.io/npm/v/'+node.data.name+'.svg'">
        </a>
        <div class="name">{{node.data.name}}</div>
    </row>
</div>