@import './vars.sass'
@import './media.sass'

.section
  margin: 2em 0
  .title
    margin: $v-margin $h-margin
    font-size: 2em
  .description
    font-size: 1.6em
    margin: $v-margin $h-margin

.highlights
  display: flex
  +phone
    flex-direction: column
  .highlight
    flex: 1
    font-size: 0.86em

.steps
  margin: 2em 0
  .title
    font-size: 2em
    margin: $v-margin $h-margin
  .step
    font-size: 1.4em
    margin: 0 $h-margin
  

code
  padding: 1em
  margin: 0.5em 0
  border-radius: 1em
  color: $code-foreround
  background: $code-background
  font-size: 1rem
  display: block
  .comment
    display: inline
    color: #bbbbbb